# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.xcuserstate
*.xcuserstate
*.xcuserstate
/prj/xcode4/ios/obj
/prj/xcode4/macos/obj
*.pdb
prj/vs2019/.vs/test/v16/.suo
prj/vs2019/.vs/test/v16/Browse.VC.db
*.ipch
prj/vs2019/.vs/test/v16/Solution.VC.db
prj/vs2019/.vs/ThreadPool/v16/.suo
prj/vs2019/.vs/ThreadPool/v16/Browse.VC.db
*.recipe
*.ilk
prj/vs2019/Debug/test.log
*.tlog
prj/vs2019/Debug/test.vcxproj.FileListAbsolute.txt
*.idb
prj/vs2019/obj/x32/Debug/ThreadPool.log
*.user
